@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-color: #f5f5f5; padding: 50px;">
    <h1 class="display-4" style="color: black; font-weight: bold;">KhumaloCraft Emporium</h1>
    <br> <p> Shop smarter, shop faster </p>

    <img src="~/images/main.jpg" alt="KhumaloCraft Products" class="img-fluid" /> <br>

    <a href="#" class="btn btn-primary">Explore Our Products</a>
</div>

